MONGO="YOUR MONGO DB URL"
{{- if contains "google" .Auth }}
CLIENT_ID="GOOGLE CLIENT ID"
CLIENT_SECRET="GOOGLE CLIENT SECRET"
RedirectURL="GOOGLE REDIRECT URL"
{{- end }}
{{- if contains "github" .Auth }}
GH_CLIENT_ID="GITHUB CLIENT ID"
GH_CLIENT_SECRET="GITHUB CLIENT SECRET"
GH_RedirectURL="GITHUB REDIRECT URL"
{{- end }}
{{- if contains "discord" .Auth }}
DISCORD_CLIENT_ID="DISCORD CLIENT ID"
DISCORD_CLIENT_SECRET="DISCORD CLIENT SECRET"
DISCORD_RedirectURL="DISCORD REDIRECT URL"
{{- end }}