package main

import (
	"fmt"
	"net/http"
	"{{ .Name }}/config"
	"{{ .Name }}/routes"
	"{{ .Name }}/utils"

	"github.com/go-chi/chi/v5"
	"github.com/go-chi/cors"
)

func main() {
    config.Db()
    r := chi.NewRouter()
    
    r.Use(cors.Handler(cors.Options{
        AllowedOrigins:   []string{"*"},
        AllowedMethods:   []string{"GET", "POST", "PUT", "DELETE", "OPTIONS"},
        AllowedHeaders:   []string{"Accept", "Authorization", "Content-Type", "X-CSRF-Token"},
        ExposedHeaders:   []string{"Link"},
        AllowCredentials: true,
        MaxAge:           300,
    }))
    routes.RegisterRoutes(r)
    server := &http.Server{
        Addr:    ":5000",
        Handler: r,
    }
    fmt.Println("Server started on :5000")
    err := server.ListenAndServe()
	utils.CheckErr(err)
}